<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecadastro.css">
    <title>Cadastro Pokédex</title>
</head>
<body>
    
<header>
    <nav>

        <ul>
            <li> <a href="/">HOME</a></li>
            <li> <a href="/index"> POKEMON</a></li>
            <li> <a href="/cadastro"> CADASTRO</a></li>
        </ul>
        
    
        </nav> 



        <section id="escrita">
            <img id="pokedex" src="https://pokedex.sleduardo.dev/img/logo.svg" alt="">
        </section>
    </header>
    
    <main>
        
        
        <section id="imgpoke">
            
            <img id="pokedexx" src="/img/pokedex.png" alt="Pokedex">
            
        </section>
        <section id="cadastro">
            
            <h1>CADASTRO</h1>
            
            <form action="/create" method="POST">
                
                <label for="nome">NOME: </label>
                <input type="text" id="nome" name="nome" required>

                <label for="descricao">DESCRIÇÃO: </label>
                <input type="text" id="descricao" name="descricao" required>

                <label for="tipo">TIPO: </label>
                <input type="text" id="tipo" name="tipo" required>

                <label for="imagem">LINK DA IMAGEM: </label>
                <input type="text" id="imagem" name="imagem" required>

                <button id="btnCadastrar" type="submit">+</button >




            </form>
            
        
        </section>
    </main>

    <footer>

        <p>Todos os direitos reservados @pedroreezende | Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokedex</a></p>
    </footer>

<script src="/script.js"></script>
</body>
</html>