<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylehome.css">
</head>

<body>



        <main>
          <section id="ashe">
            <a href="/index">
              <img id="pokemon" src="/img/ashe.png" alt="img-ashe" />
            </a>
          </section>
        </main>
    
        <!-- <footer>

            <p>Todos os direitos reservados @pedroreezende &copy;</p>
            <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokedex</a></p>
        </footer> -->
</body>
    

</html>