<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="stylehome.css">
    <link rel="icon"  type="image/jpg"  href="https://i.pinimg.com/originals/e2/7b/7d/e27b7d18b01ae4765133f4aec4aaf61d.png" />
</head>



<body>
  
  <nav>

    
    <header>
      
      <ul>
        <li> <a href="/">HOME</a></li>
        <li> <a href="/index">POKÉDEX</a></li>
        <li> <a href="/cadastro">CADASTRO</a></li>
      </ul>
    
    </nav>
      
  <section id="escrita">
    <img id="pokedex" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="">
  </section>

</header>


  <main>
    <section id="ashe">
    <a href="/index">
      <img id="pokemon" src="/img/ashe.png" alt="img-ashe" />
    </a>
    <h1>PRESS ON THE ASH</h1>
  </section>
</main>

<footer>

  <p>Todos os direitos reservados @pedroreezende | Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokedex</a></p>
</footer>
</body>
    

</html>